<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block layout:fragment="content">
    <form action="/admin/item/register" method="post" th:object="${itemDTO}">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="itemNm" class="form-label">상품명</label>
                            <input type="text" class="form-control" th:field="*{itemNm}"  required id="itemNm" readonly>
                            <p th:if="${#fields.hasErrors('itemNm')}" th:errors="*{itemNm}" class="fieldError"></p>

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="price" class="form-label">가격</label>
                            <input type="number" min="0" class="form-control" th:field="*{price}" id="price" readonly>
                            <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="fieldError"></p>

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="itemDetail" class="form-label">상세설명 </label>
                            <textarea class="form-control" th:field="*{itemDetail}" id="itemDetail" rows="3" readonly></textarea>
                            <p th:if="${#fields.hasErrors('itemDetail')}" th:errors="*{itemDetail}" class="fieldError"></p>

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="itemSellStatus" class="form-label">상품 판매 상태 </label>
                            <input  th:field="*{itemSellStatus}" id="itemSellStatus" class="form-control"  readonly>

                        </div>
                    </div>

                    <div class="col-12">
                        <button type="button" class="btn btn-dark toUpdateBtn" th:value="${itemDTO.ino}">수정</button>
                        <button type="button" class="btn btn-dark toListBtn">목록</button>
                    </div>
                </div>


            </div>
        </div>
    </form>

    <!--여기부터 댓글-->
    <div class="mt-2 p-3 bg-body rounded shadow-sm">
        <h2 class="fs-6">댓글 작성</h2>
        <input class="form-control replyText" type="text">
        <div class="form-text">존중과 배려하는 마음으로 건강한 댓글 문화를 함께 만들어가요.</div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary replyRegisterBtn">등록</button>
        </div>
        <form class="formA"></form>
    </div>

    <script th:inline="javascript">
        let ino = [[${itemDTO.ino}]]
        let mno = [[${mno}]]

        let replyRegisterBtn = $(".replyRegisterBtn") // 댓글등록 버튼
        let replyText = $(".replyText") // 댓글 내용
        let replyDTO = {
            rno : "",
            ino : "",
            member_id : "",
            replyContent : ""
        }

        $(document).ready(function () {
            $(".toListBtn").on("click", function () {
                location.href = "/admin/item/list"
            })


            $(".toUpdateBtn").on("click", function () {
                location.href = "/admin/item/update?ino=" + $(this).val();
            })

            replyRegisterBtn.on("click", function (){


                replyDTO.rno =$(this).val()
                replyDTO.ino = ino;
                replyDTO.mno = mno;
                replyDTO.replyContent = replyText.val();

                replySave(replyDTO);

            })

            //함수
            function replySave(replyDTO){

                $.ajax({
                    url : "/reply/register" ,
                    data : replyDTO ,
                    type : "post",
                    success : function (result) {
                        alert(result)   // 성공후 또는 실패 메시지
                    },
                    error : function (error) {
                        console.log(error)
                        console.log(error.status)
                        console.log(error.responseText)
                    }
                })
            }

        })

    </script>

</th:block>


</body>
</html>