<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block layout:fragment="content">
    <form action="/admin/item/register" method="post" th:object="${itemDTO}">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="itemNm" class="form-label">상품명</label>
                            <input type="text" class="form-control" th:field="*{itemNm}"  required id="itemNm" readonly>
                            <p th:if="${#fields.hasErrors('itemNm')}" th:errors="*{itemNm}" class="fieldError"></p>

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="price" class="form-label">가격</label>
                            <input type="number" min="0" class="form-control" th:field="*{price}" id="price" readonly>
                            <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="fieldError"></p>

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="itemDetail" class="form-label">상세설명 </label>
                            <textarea class="form-control" th:field="*{itemDetail}" id="itemDetail" rows="3" readonly></textarea>
                            <p th:if="${#fields.hasErrors('itemDetail')}" th:errors="*{itemDetail}" class="fieldError"></p>

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="itemSellStatus" class="form-label">상품 판매 상태 </label>
                            <input  th:field="*{itemSellStatus}" id="itemSellStatus" class="form-control"  readonly>

                        </div>
                    </div>

                    <div class="col-12">
                        <button type="button" class="btn btn-dark toUpdateBtn" th:value="${itemDTO.ino}">수정</button>
                        <button type="button" class="btn btn-dark toListBtn">목록</button>
                    </div>
                </div>


            </div>
        </div>
    </form>

    <!--여기부터 댓글-->
    <!--댓글 목록-->
    <ol class="list-group list-group-numbered replygroup">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
                Content for list item
            </div>
            <span class="badge text-bg-primary rounded-pill">14</span>
        </li>
    </ol>


    <!--댓글 등록기능-->
    <div class="card mb-2">
        <div class="card-header bg-light">
            <i class="fa fa-comment fa"></i> 댓글창
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="form-inline mb-2">
                        <label for="replyId"><i class="fa fa-user-circle-o fa-2x"></i></label>
                        <input type="text" class="form-control ml-2" placeholder="이곳은 별점이 들어갈 예정" id="replyId">
                    </div>
                    <textarea class="form-control replyText" id="replyText" rows="3"></textarea>
                    <button type="button" class="btn btn-dark mt-3 replyRegisterBtn">등록</button>
                </li>
            </ul>
        </div>
    </div>
        <form class="formA"></form>
    </div>

    <script th:inline="javascript">
        let ino = [[${itemDTO.ino}]]

        let replyRegisterBtn = $(".replyRegisterBtn") // 댓글등록 버튼
        let replygroup = $(".replygroup") // 댓글 목록
        let replyText = $(".replyText") // 댓글 내용
        let replyDTO = {
            rno : "",
            ino : "",
            replyContent : ""
        }

        $(document).ready(function () {
            $(".toListBtn").on("click", function () {
                location.href = "/admin/item/list"
            })


            $(".toUpdateBtn").on("click", function () {
                location.href = "/admin/item/update?ino=" + $(this).val();
            })

            replyRegisterBtn.on("click", function (){
                replyDTO.rno = "";
                replyDTO.ino = ino;
                replyDTO.replyContent = replyText.val();

                replySave(replyDTO);

            })

            //함수
            // 댓글 등록 함수
            function replySave(replyDTO){

                $.ajax({
                    url : "/reply/register" ,
                    data : replyDTO ,
                    type : "post",
                    success : function (result) {
                        alert(result)   // 성공후 또는 실패 메시지
                    },
                    error : function (error) {
                        console.log(error)
                        console.log(error.status)
                        console.log(error.responseText)
                    }
                })
            }

            //데이터 (result)를 가져올 때 사용할 calback 함수
            function listhtmls(result) {
                console.log(result)
                let str = "";
                for (let i = 0; i <result.dtoList.length ; i++){
                    console.log(result.dtoList[i].memberDTO)

                    str += `<li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">${result.dtoList[i].memberDTO.userID}</div>
                ${result.dtoList[i].replyContent}
            </div>
            <span class="badge text-bg-primary rounded-pill">14</span>
        </li>`;


                }
                replygroup.append(str)
            }

            replyListajax(ino, 1, listhtmls);

            // 댓글 목록 함수 ajax로 준비먼저 나중에 목록 불러오기 함수에 쓸거임
            function replyListajax(ino, pageNum, callback) {
                console.log("받은 ino" + ino)
                console.log("받은 page" + pageNum)

                $.ajax({
                    url: "/reply/list" ,
                    data: {ino : ino, page : pageNum},
                    success :function(data){
                        callback(data)
                        page = data.page;

                    },
                    error : function (error) {

                    }
                })
            }

        })

    </script>

</th:block>


</body>
</html>