<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block layout:fragment="content">
    <form action="/admin/item/update" method="post" th:object="${itemDTO}">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <input type="hidden" th:field="*{ino}">
                            <input type="hidden" th:field="*{mno}">
                            <label for="itemNm" class="form-label">상품명</label>
                            <input type="text" class="form-control" th:field="*{itemNm}"  required id="itemNm" >
                            <p th:if="${#fields.hasErrors('itemNm')}" th:errors="*{itemNm}" class="fieldError"></p>

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="price" class="form-label">가격</label>
                            <input type="number" min="0" class="form-control" th:field="*{price}" id="price">
                            <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="fieldError"></p>

                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mb-3">
                            <label for="itemDetail" class="form-label">상세설명 </label>
                            <textarea th:type="text" class="form-control" th:field="*{itemDetail}" id="itemDetail" rows="3"></textarea>
                            <p th:if="${#fields.hasErrors('itemDetail')}" th:errors="*{itemDetail}" class="fieldError"></p>

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="itemSellStatus" class="form-label">상품 판매 상태 </label>
                            <select  th:field="*{itemSellStatus}" id="itemSellStatus" class="form-select" aria-label="Default select example">
                                <option value="SELL">판매중</option>
                                <option value="SOLD_OUT">품절</option>
                            </select>
                        </div>
                    </div>
                    <!--저장버튼 목록버튼-->
                    <div class="col-12">
                        <button class="btn btn-dark">저장</button>
                        <button type="button" class="btn btn-dark toListBtn">목록</button>
                        <button type="button" class="btn btn-danger toDelBtn">목록</button>
                        <script>
                            $(".toListBtn").on("click", function () {
                                location.href = "/admin/item/list"
                            })
                            $(".toDelBtn").on("click", function () {
                                location.href = "/admin/item/del"
                            })
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </form>


</th:block>

</body>
</html>