<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<th:block>
    <div class="row mt-5" >
        <div class="col-8 offset-2">
            <h1>로그인</h1>

            <div th:if="${param.error}">
                <h1 >
                    email 또는 비밀번호를 확인해주세요
                </h1>

            </div>
            <script th:inline="javascript">
                let errorMsg = [[${param.error}]]
                if(errorMsg) {
                    alert("이메일 또는 비밀번호를 확인해주세요")
                }

            </script>
            <form class="row g-3 formA" action="/member/login" method="post">

                <div class="col-md-6">
                    <label for="userID" class="form-label">ID</label>
                    <input type="text" name="userID" class="form-control" id="userID" placeholder="아이디를 입력해주세요" required>
                </div>

                <div class="col-md-6">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="비밀번호를 입력해주세요" required>
                </div>



                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary loginBtn">로그인</button>
                    <button type="button" class="btn btn-primary signupBtn">회원가입</button>
                </div>

            </form>

        </div>

    </div>
<script>
    $(".loginBtn").on("click",function () {
        location.href = "/admin/item/register"
    })

    $(".signupBtn").on("click", function () {
        location.href = "/member/signup2"
    })

</script>

</th:block>




</body>
</html>